.Burger {
  width: 40%;
  height: 250px;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  transition: transform 300ms;
}

.Burger p {
  margin: 5px 0px;
}

@media (max-width: 475px) {
  .Burger {
    width: 65%;
  }
  .BurgerWithSidebar {
    transform: translateX(-31px);
  }
}

@media (min-width: 476px) and (max-width: 800px) {
  .Burger {
    width: 65%;
  }
}

@media (min-width: 801px) and (max-width: 1024px) {
  .Burger {
    width: 65%;
  }
}
