.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: fit-content;
  border-radius: 6px;
  box-shadow: 1px 1px 20px #403d39;
  left: 50%;
  top: 30%;
  transform: translateY(-200px);
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.ModalHeader {
  height: 20px;
  padding: 10px;
  background-color: #ff6700;
  color: #ebebeb;
  border-radius: 6px 6px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.ModalHeader h5 {
  margin: 0px;
}

.ModalClose {
  opacity: 0;
  z-index: -1;
}

.ModalShow {
  opacity: 1;
  transform: translateY(0px) translateX(-50%);
}
