.OrderSummary {
  padding: 10px;
  color: #252422;
}

.OrderSummary header {
  font-size: 0.9rem;
  font-weight: 500;
}

.OrderSummary ul li {
  font-size: 0.7rem;
}

.OrderSummary p {
  font-size: 0.7rem;
  margin: 5px 0 5px 0;
}

.OrderSummary footer {
  display: flex;
  justify-content: flex-end;
}
